@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap'); */

:root{
  --color1: #cb997eff;
  --color2: #d4ac94ff;
  --color3: #ddbea9ff;
  --color4: #eed3c0ff;
  --color5: #ffe8d6ff;
  --color51: rgba(253, 236, 223, 0.89);
  --color6: #dbd0bdff;
  --color7: #b7b7a4ff;
  --color8: #a5a58dff;
  --color9: #888b75ff;
  --color10: #6b705cff;  
  --textcolor1: #2B2D25;  
  --font: 'Corben', cursive;
  /* --font: 'Elsie', cursive; */
}

body {
  font-family: var(--font);
  background-color: var(--color4);
  height: auto;
  width: 100%;
  color: var(--textcolor1);

}

header {
  background-color: var(--color7);
  height: 100%;
  width: 100%;
  padding: .7em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Container {
  display:flex;
  flex-direction: column;
  width: 100%;
  height:100%;
}

.active-link {
  background-color: var(--color10);
}

.NavLink {
  border: 1px solid black;
  font-size: .7rem;
  font-weight: bold;
  padding: 0rem 1rem;
  border-radius: 2rem;
  background-color: var(--color6);
  font-family: var(--font);
  color: var(--color5lightest);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.NavLink:hover {
  background-color: var(--color7);
  cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
}

.ContentDiv {
  display: flex;
  justify-content: space-around;

}

.ContentDiv >div * {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color3);
  padding: 1em;
  border-radius: 2em;
  width: auto;
  height: fit-content;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

form >* {
  margin: 1em;
}

.TaskAddContainer {
  width: 100%;
}

.TaskListContainer {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  transition: all 1s ease-in-out;
  justify-items: center;
  align-items: center;
}

.TaskListContainer >*{
  margin: 5%;
}

.instructions {
  font-size: .6em;
  font-weight: bolder;
  letter-spacing: .25em;
  background-color: #D3C5B2;
  border: 1em double black;
  padding: 1em;
  border-radius: 2em;
  width: auto;
  transition: all .115s ease-in-out;
}

.instructions:hover {
transform:scale(105%);
}

.TaskList {
  grid-column: 2; 
}

.taskEl {
  margin: .25em;
  padding: .5em;
  border-radius: 2em;
}

.taskEl:hover {
  border: 1px solid var(--color9);
  background: repeating-linear-gradient(
    45deg,
    var(--color7),
    var(--color7) 5px,
    var(--color8) 5px,
    var(--color8) 10px
  );
  cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), auto !important;
}

.incomplete {
  color: var(--textcolor1);
}

.complete {
  color: var(--color10);
  background: repeating-linear-gradient(
    45deg,
    var(--color7),
    var(--color7) 5px,
    var(--color8) 5px,
    var(--color8) 10px
  );
}

.complete:hover {
  color: var(--textcolor1);
  background: var(--color1);
  border: none;
}

button {
  font-family: var(--font);
  font-weight: bold;
  font-size: .5em;
  text-transform: lowercase;
  background-color: var(--color4);
  border-radius: 2em;
  border: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  white-space: nowrap;
  text-align: center;
  padding: 3%;
  height: fit-content;
}

button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input {
  font-family: var(--font);
  font-size: .5em;
  padding: 5%;
  background-color: var(--color51);
  border-radius: 2em;
  border: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
